<div class="lxc-container-detail">
  <div class="span-24 last" style="margin-bottom: 1em;">
    <div class="span-4">
      <div class="status <%= @container.status.downcase %>"><span><%= @container.status %><span></div>
    </div>

    <div class="span-12">
      <div class="name"><%= @container.name %></div>
      <div class="path"><%= @container.path %></div>
    </div>

    <div class="span-8 last" style="text-align: right;">
      <button data-href="/containers/<%= @container.name %>/log" data-method="GET">Log</button>
      <% if @container.running? %>
      <button data-href="/containers/<%= @container.name %>/stop" data-confirm="Are you sure?">Stop</button>
      <button data-href="/containers/<%= @container.name %>/restart" data-confirm="Are you sure?">Restart</button>
      <% else %>
      <button data-href="/containers/<%= @container.name %>/start">Start</button>
      <button data-href="/containers/<%= @container.name %>/clean" data-method="POST" data-confirm="Are you sure?">Reset</button>
      <button data-href="/containers/<%= @container.name %>" data-method="delete" data-confirm="Are you sure?" data-sync="yes">Delete</button>
      <% end %>
      <button data-href="/containers/<%= @container.name %>/configure" data-method="POST">Configure</button>
    </div>
  </div>

  <div id="tabs" class="clear">
    <ul>
      <li><a href="#tabs-1">Configuration</a></li>
      <li><a href="#tabs-2">Processes</a></li>
      <li><a href="#tabs-3">Log</a></li>
    </ul>
    <div id="tabs-1" class="container">

    <div class="span-24 last">
    <div class="span-10">
      <form method="POST" action="/containers/<%= @container.name %>" AUTOCOMPLETE="off">
        <fieldset> 
        <legend>Networking</legend>
        <p>
          <label for="address">Address</label><br/>
          <INPUT NAME="container[address]" value="<%= @container.address %>" class="text"></INPUT>
        </p>
        <p>
          <label for="mask">Netmask</label><br/>
          <INPUT NAME="container[mask]" value="<%= @container.mask %>" class="text"></INPUT>
        </p>
        <p>
          <label for="bc">Broadcast</label><br/>
          <INPUT NAME="container[bc]" value="<%= @container.bc %>" class="text"></INPUT>
        </p>
        <p>
          <label for="gw">Gateway</label><br/>
          <INPUT NAME="container[gw]" value="<%= @container.gw %>" class="text"></INPUT>
        </p>
        </fieldset>
        <fieldset>
        <legend>Setup</legend>
        <p>
          <label for="key_pair">Key Pair</label><br/>
          <%= selection("container[key_pair_id]", @key_pairs, @container.key_pair) %>
        </p>
        <p>
          <label for="startup">Startup</label><br/>
          <%= selection("container[startup_id]", @startups, @container.startup) %>
        </p>
        <p>
          <INPUT TYPE="HIDDEN" NAME="container[id]" value="<%= @container.id %>"></INPUT>
          <INPUT TYPE="SUBMIT" value="Save"></INPUT>
        </p>
        </fieldset>
      </form>
    </div>

    <div class="span-14 last">
      <h4>Mounts</h4>
      <ul class="fstab-entries">
      <% @container.fstab_entries.each do |e| %>
        <li>
          Host directory <tt><%= e.path %></tt> on <tt><%= e.container_path %></tt>
          <button data-href="/fstab/<%= e.id %>" data-method="delete" data-confirm="Are you sure?" data-sync="yes">Delete</button>
        </li>
      <% end %>
      <li>
        <form method="POST" action="/fstab/new" autocomplete="off">
          Host directory <INPUT NAME="fstab[path]"></INPUT> on <INPUT NAME="fstab[container_path]"></INPUT>.
          <INPUT TYPE="SUBMIT" VALUE="Add"></INPUT> <INPUT NAME="fstab[container_id]" TYPE="HIDDEN" VALUE="<%= @container.id %>"></INPUT>
        </form>
      </li>
      </ul>
    </div>
    </div>

    </div>
    <div id="tabs-2">
      <div class="processes" style="width: 100%; overflow: scroll; font-size: 11px;"></div>
    </div>
    <div id="tabs-3">
      <div class="log" style="width: 100%; max-height: 600px; overflow: scroll; font-size: 11px;"></div>
    </div>
  </div>

  <script type="text/javascript">
    $(function() {
      $('#tabs').tabs({});

      var running = <%= @container.running? ? 'true' : 'false' %>;
      function refresh() {
        $('.log').load("/containers/<%= @container.name %>/log");
        $('.processes').load("/containers/<%= @container.name %>/processes");
      }
      if (running) {
        refresh();
        $('body').everyTime(60000, function(i) {
          refresh();
        });
      }
    });
  </script>
</div>
