<div class="lxc-container-detail">
  <div class="span-4">
    <div class="status <%= @container.status.downcase %>"><span><%= @container.status %><span></div>
  </div>

  <div class="span-12">
    <div class="name"><%= @container.name %></div>
    <div class="path"><%= @container.path %></div>
  </div>

  <div class="span-8 last" style="text-align: right;">
    <% if @container.running? %>
    <button data-href="/containers/<%= @container.name %>/stop" data-confirm="Are you sure?">Stop</button>
    <button data-href="/containers/<%= @container.name %>/restart" data-confirm="Are you sure?">Restart</button>
    <% else %>
    <button data-href="/containers/<%= @container.name %>/start">Start</button>
    <button data-href="/containers/<%= @container.name %>/clean" data-method="POST" data-confirm="Are you sure?">Reset</button>
    <button data-href="/containers/<%= @container.name %>" data-method="delete" data-confirm="Are you sure?" data-sync="yes">Delete</button>
    <% end %>
    <button data-href="/containers/<%= @container.name %>/configure" data-method="POST">Configure</button>
  </div>

  <div class="span-24">&nbsp;</div>

  <div class="span-24">
    <form method="POST" action="/containers/<%= @container.name %>" AUTOCOMPLETE="off">
      <div class="span-8">
      <fieldset> 
        <legend>Networking</legend>
        <p>
          <label for="address">Address</label><br/>
          <INPUT NAME="container[address]" value="<%= @container.address %>" class="text"></INPUT>
        </p>
        <p>
          <label for="mask">Netmask</label><br/>
          <INPUT NAME="container[mask]" value="<%= @container.mask %>" class="text"></INPUT>
        </p>
        <p>
          <label for="bc">Broadcast</label><br/>
          <INPUT NAME="container[bc]" value="<%= @container.bc %>" class="text"></INPUT>
        </p>
        <p>
          <label for="gw">Gateway</label><br/>
          <INPUT NAME="container[gw]" value="<%= @container.gw %>" class="text"></INPUT>
        </p>
      </fieldset>
      </div>
      <div class="span-16 last">
        <p>
          <label for="rc_startup">Startup</label><br/>
          <TEXTAREA NAME="container[rc_startup]" style="width: 100%;"><%= @container.rc_startup %></TEXTAREA>
        </p>
      </div>
      <div class="span-24 last">
        <p>
          <label for="public_key">Public Key</label><br/>
          <TEXTAREA NAME="container[public_key]" rows="4" style="width: 100%; height: 40px;"><%= @container.public_key %></TEXTAREA>
        </p>
      </div>
      <p>
        <INPUT TYPE="HIDDEN" NAME="container[id]" value="<%= @container.id %>"></INPUT>
        <INPUT TYPE="SUBMIT" value="Save"></INPUT>
      </p>
    </form>
  </div>

  <% if @container.running? %>
    <div class="span-24 processes">
      <pre><%= h @container.processes %></pre>
    </div>
  <% end %>
</div>
