<div class="lxc-container-detail">
  <div class="span-24 last" style="margin-bottom: 1em;">
    <div class="span-4">
      <div class="status <%= @container.status.downcase %>"><span><%= @container.status %><span></div>
    </div>

    <div class="span-4">
      <div class="name"><%= @container.name %></div>
      <div class="path"><%= @container.path %></div>
    </div>

    <div class="span-16 last" style="text-align: right;">
      <button data-href="/containers/<%= @container.name %>/log" data-method="GET">Log</button>
      <% if @container.running? %>
      <button data-href="/containers/<%= @container.name %>/startup/run">Run Startup</button>
      <% if @container.chef %>
      <button data-href="/containers/<%= @container.name %>/chef/run">Run Chef</button>
      <% end %>
      <button data-href="/containers/<%= @container.name %>/stop" data-confirm="Are you sure?">Stop</button>
      <button data-href="/containers/<%= @container.name %>/restart" data-confirm="Are you sure?">Restart</button>
      <button data-href="/containers/<%= @container.name %>/recycle" data-confirm="This will delete the container! Are you sure?">Recycle</button>
      <% else %>
      <button data-href="/containers/<%= @container.name %>/start">Start</button>
      <button data-href="/containers/<%= @container.name %>/clean" data-confirm="Are you sure?">Reset</button>
      <button data-href="/containers/<%= @container.name %>" data-method="delete" data-confirm="Are you sure?">Delete</button>
      <% end %>
      <button data-href="/containers/<%= @container.name %>/configure" data-method="POST">Configure</button>
    </div>
  </div>

  <div id="tabs" class="clear">
    <ul>
      <li><a href="#tabs-1">Configuration</a></li>
      <li><a href="#tabs-2">Chef</a></li>
      <li><a href="#tabs-3">Resources</a></li>
      <li><a href="#tabs-4">Processes</a></li>
      <li><a href="#tabs-5">Log</a></li>
    </ul>

    <div id="tabs-1" class="container">
      <div class="span-10 last">
      <form method="POST" action="/containers/<%= @container.name %>" AUTOCOMPLETE="off">
        <fieldset> 
        <legend>Networking</legend>
        <p>
          <label for="address">Address</label><br/>
          <INPUT NAME="container[address]" value="<%= @container.address %>" class="text"></INPUT>
        </p>
        <p>
          <label for="mask">Netmask</label><br/>
          <INPUT NAME="container[mask]" value="<%= @container.mask %>" class="text"></INPUT>
        </p>
        <p>
          <label for="bc">Broadcast</label><br/>
          <INPUT NAME="container[bc]" value="<%= @container.bc %>" class="text"></INPUT>
        </p>
        <p>
          <label for="gw">Gateway</label><br/>
          <INPUT NAME="container[gw]" value="<%= @container.gw %>" class="text"></INPUT>
        </p>
        </fieldset>
        
        <fieldset class="span-5">
        <legend>Setup</legend>
        <p>
          <label for="key_pair">Key Pair</label><br/>
          <%= selection("container[key_pair_id]", @key_pairs, @container.key_pair) %>
        </p>
        <p>
          <label for="startup">Startup</label><br/>
          <%= selection("container[startup_id]", @startups, @container.startup) %>
        </p>
        </fieldset>

        <fieldset class="span-5 last">
        <legend>&nbsp;</legend>
        <p>
          <INPUT NAME="container[autorun]" TYPE="HIDDEN" value="0"></INPUT>
          <label for="autorun">Auto-Run</label><br/>
          <% if @container.autorun then %>
          <INPUT NAME="container[autorun]" TYPE="CHECKBOX" value="1" class="checkbox" CHECKED="1"></INPUT>
          <% else %>
          <INPUT NAME="container[autorun]" TYPE="CHECKBOX" value="1" class="checkbox"></INPUT>
          <% end %>
        </p>
        <p>
          <INPUT TYPE="HIDDEN" NAME="container[id]" value="<%= @container.id %>"></INPUT>
          <button class="post">Save</button>
        </p>
        </fieldset>
      </form>
      </div>
    </div>
    
    <div id="tabs-2" class="container">
      <div class="span-22 last">
        <form method="POST" action="/containers/<%= @container.name %>/chef" autocomplete="off">
          <% @chef = @container.chef || Chef.new %>
          <TEXTAREA NAME="chef[data]" STYLE="width: 900px; height: 500px; font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;"><%= @chef.to_pretty_json %></TEXTAREA>
          <INPUT NAME="chef[container_id]" TYPE="HIDDEN" VALUE="<%= @chef.container_id %>"></INPUT>
         <% if @chef.id %> 
          <INPUT NAME="chef[id]" TYPE="HIDDEN" VALUE="<%= @chef.id %>"></INPUT>
    	    <% end %> 
          <button class="post">Save</button>
        </form>
      </div>
    </div>
    
    <div id="tabs-3">
      <div class="container">
        <h4>Mounts</h4>
        <form method="POST" action="/fstab/new" autocomplete="off">
        <table class="span-13">
          <% @container.fstab_entries.each do |e| %>
          <tr>
            <td><%= e.path %></td>
            <td><%= @container.name %><%= e.container_path %></td>
            <td><button data-href="/fstab/<%= e.id %>" data-method="delete" data-confirm="Are you sure?" data-sync="yes">Delete</button></td>
          </tr>
          <% end %>
          <tr>
            <td> <INPUT NAME="fstab[path]" VALUE="/"></INPUT> </td>
            <td> <%= @container.name %><INPUT NAME="fstab[container_path]" VALUE="/"></INPUT> </td>
            <td>
              <INPUT NAME="fstab[container_id]" TYPE="HIDDEN" VALUE="<%= @container.id %>"></INPUT>
              <button class="post">Add</button>
            </td>
          </tr>
        </table>
        </form>
      </div>
    </div>
    
    <div id="tabs-4">
      <div class="processes" style="width: 100%; overflow: scroll; font-size: 11px;"></div>
    </div>

    <div id="tabs-5">
      <div class="log" style="width: 100%; max-height: 600px; overflow: scroll; font-size: 11px;"></div>
    </div>
  </div>

  <script type="text/javascript">
    $(function() {
      $('#tabs').tabs({ cookie: { expires: 30 } });

      $('button.post').click(function() {
        $(this).parents('form').submit();
      });

      var running = <%= @container.running? ? 'true' : 'false' %>;
      function refresh() {
        $('.processes').load("/containers/<%= @container.name %>/processes");
        $('.log').load("/containers/<%= @container.name %>/log", function() {
          var log = $('.log');
          log.attr({ scrollTop: log.attr("scrollHeight") });
        });
      }
      if (running) {
        refresh();
        $('body').everyTime(60000, function(i) {
          refresh();
        });
      }
    });
  </script>
</div>
