<div>
  <form method="POST" action="<%= @resource.id.nil? ? "/startups" : "/startups/#{@resource.id}" %>" autocomplete="off">
    <fieldset> 
    <p>
      <label for="name">Name</label><br/>
      <INPUT NAME="startup[name]" value="<%= @resource.name %>" class="text"></INPUT>
    </p>
    <p>
      <label for="description">Description</label><br/>
      <TEXTAREA NAME="startup[description]" style="width: 100%; height: 120px;"><%= @resource.description %></TEXTAREA>
    </p>
    <p>
      <label for="private">Private</label><br/>
      <TEXTAREA NAME="startup[script]" style="width: 100%; height: 400px;"><%= @resource.script %></TEXTAREA>
    </p>
    <p>
      <% if @resource.id %> 
      <INPUT TYPE="HIDDEN" name="startup[id]" value="<%= @resource.id %>"></INPUT>
      <% end %>
      <INPUT TYPE="SUBMIT" value="Save"></INPUT>
    </p>
    </fieldset>
  </form>
</div>

